@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Hide scrollbar but keep scroll working */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
  scrollbar-width: none;      
  -ms-overflow-style: none;   
}


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

